@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="geofun">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="//code.angularjs.org/1.2.0rc1/angular.js"></script>
    <script src="//code.angularjs.org/1.2.0rc1/angular-animate.js"></script>

    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/css.min.css" />
</head>
<body ng-controller="c as c">
    <div id="map" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0">
    </div>
    <div id="infobox" class="leaflet-info">
        <ul>
            <li class="animate-took" ng-repeat="m in c.msg track by m.id">{{m.val}} ms</li>
        </ul>
    </div>
    <div class="footer" ng-show="c.newestFlag">{{c.newest}}
    </div>
    <script type="text/javascript" src="~/script.min.js"></script>
</body>
</html>
